@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-primary font-[800];
  }

  h5,
  h6 {
    @apply font-primary font-[400];
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }

  body {
    @apply bg-white;
    @apply font-primary;
    @apply tracking-wide;
  }
}

.main-grid {
  display: grid;
  padding: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 200px);
  grid-row-gap: 0px;
  grid-column-gap: 50px;
}

.main-grid .activity {
  height: auto;
  width: auto;
}

.main-grid .activity:nth-of-type(1) {
  background: white;
  grid-column: 1;
  grid-row: 1 / span 3;
}

.main-grid .activity:nth-of-type(2) {
  background: green;
  grid-column: 2;
  grid-row: 3 / span 3;
}

.main-grid .activity:nth-of-type(3) {
  background: purple;
  grid-column: 1;
  grid-row: 5 / span 3;
}
