@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-primary font-[800];
  }

  h5,
  h6 {
    @apply font-primary font-[400];
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }

  body {
    @apply bg-white;
    @apply font-primary;
    @apply tracking-wide;
  }

  .button-link {
    @apply text-center text-lg font-bold px-4 py-3 leading-none border-2 rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black;
  }

  .button-link.big {
    @apply text-2xl px-7;
  }

  .page {
    @apply w-10/12 md:w-8/12 xl:w-6/12  mx-auto py-8 lg:py-16 lg:pt-24 flex flex-col;
  }

  .header {
    @apply relative h-[450px] lg:h-[700px] w-screen;
  }

  a.animated-link {
    @apply text-xl block relative;
    overflow: hidden;
  }

  a.animated-link:hover {
    @apply font-bold;
  }

  a.animated-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    transition: opacity 400ms, transform 400ms;

    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  a.animated-link:hover::after,
  a.animated-link:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .form-input {
    @apply w-full mb-6 md:mb-0;
  }

  .form-label {
    @apply block tracking-wide text-black text-lg font-bold;
  }

  input {
    @apply appearance-none block w-full bg-white text-gray-700 border-gray-400 hover:border-gray-800 border-b-2 py-2 mb-1 leading-tight focus:outline-none;
  }

  textarea {
    @apply appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-2 mb-1 leading-tight focus:outline-none;
  }

  .inpute-error {
    @apply border-red-500;
  }
}
